torch
transformers
tokenizers
datasets
trl
parallelformers==1.2.7
accelerate
markdown>=3.4
bleach[css]~=5.0.1
psutil
matplotlib
scikit-learn
sentencepiece
protobuf==4.25.8
peft
sacremoses
wandb
bitsandbytes
einops
